<div class="container mt-5">

    <hr color="#ff0080;">
    <h1 style="color: #ff0080;">Producto: {{producto.nombre}}</h1>
    <hr color="#ff0080">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="color: #ff0080;" [routerLink]="['home']">Inicio</a></li>
            <li class="breadcrumb-item"><a style="color: #ff0080;" [routerLink]="['/cuaderno']">Cuadernos</a></li>

            <li class="breadcrumb-item active">{{producto.nombre}}</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top img-fluid mx-auto d-block" src="{{ 'http://127.0.0.1:8000/'+producto.img }}" style="height: 200px; width: auto;">
        </div>
        <div class="col-md-8">
            <div class="list-group">

                <a class="list-group-item list-group-item-action">
                    <b>Marca: </b>{{producto.marca.nombre}}
                </a>
                <a class="list-group-item list-group-item-action">
                    <b>Categoría: </b>{{producto.categoria.nombre}}
                </a>
                <a class="list-group-item list-group-item-action"><b>Precio Unitario: </b>${{producto.precio}}</a>
                <a class="list-group-item list-group-item-action"><b>Stock Disponible: </b>{{producto.stock}}</a>
            </div>
            <br />
            <form class="form-group-signin" (ngSubmit)="guardar(f)" #f="ngForm">
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Cantidad de Hojas</label>
                    <div class="col-sm-5">
                        <input type="number" [(ngModel)]="configuracionCuaderno.cantidad_hojas" #cantidad_hojas="ngModel" name="cantidad_hojas" class="form-control" placeholder="Ingrese la Cantidad de Hojas">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Tamaño de Hoja</label>
                    <div class="col-sm-5">
                        <select required [(ngModel)]="configuracionCuaderno.TamanioHoja_id" #TamanioHoja_id="ngModel" name="TamanioHoja_id" class="form-control">
                        <option *ngFor="let tam of tamanioHoja" [value]="tam.id">{{ tam.nombre + ' (' + tam.ancho + ' x ' + tam.largo +' ' + tam.unidad_medida + ')' }}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Tipo de Hoja</label>
                    <div class="col-sm-5">
                        <select required [(ngModel)]="configuracionCuaderno.TipoHoja_id" #TipoHoja_id="ngModel" name="TipoHoja_id" class="form-control">
                        <option *ngFor="let tip of tipoHoja" [value]="tip.id">{{ tip.nombre + ' (Gramaje: ' + tip.gramaje + ' g.)' }}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Tipo de Tapa</label>
                    <div class="col-sm-5">
                        <select required [(ngModel)]="configuracionCuaderno.TipoTapa_id" #TipoTapa_id="ngModel" name="TipoTapa_id" class="form-control">
                        <option *ngFor="let tip of tipoTapa" [value]="tip.id">{{ tip.nombre }}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Tipo de Linea</label>
                    <div class="col-sm-5">
                        <select required [(ngModel)]="configuracionCuaderno.TipoLinea_id" #TipoLinea_id="ngModel" name="TipoLinea_id" class="form-control">
                      <option *ngFor="let tip of tipoLineas" [value]="tip.id">{{ tip.nombre }} ( {{ tip.descripcion }} )</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Color Espiral</label>
                    <div class="col-sm-5">
                        <select required (change)="cambioColor($event)" [(ngModel)]="configuracionCuaderno.ColorEspiral_id" #ColorEspiral_id="ngModel" name="ColorEspiral_id" class="form-control">
                        <option *ngFor="let col of colorEspiral" [value]="col.id">{{ col.color + ' (Tipo de Espiral: ' + col.tipoespiral.nombre + ')' }}</option>
                      </select>
                    </div>
                    <div class="col-sm-3">
                        <span class="badge badge-secondary" style="-webkit-text-stroke: 0.8px black; border:0.8px black solid;" [ngStyle]="{'background-color':'#'+colorElegido}">Color Elegido</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label><b>Cantidad:</b></label>
                    </div>
                    <div class="col-10">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-info" (click)="cambiarCantidad(0)">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"/>
                    <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
                    <path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                </button>
                            <button type="button" class="btn btn-light" [innerHTML]="detallePedido.cantidad"></button>
                            <button type="button" class="btn btn-info" (click)="cambiarCantidad(1)">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"/>
                    <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
                    <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.5 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-2z"/>
                  </svg>
                </button>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <div class="col">
                        <button class="btn btn-outline-info" type="submit" class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>