<div class="container mt-5">

    <h1 style="color: #ff0080;">Configuración</h1>
    <hr color="#ff0080">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="color: #ff0080;" [routerLink]="['home']">Inicio</a></li>
            <li class="breadcrumb-item active">Configuración</li>
        </ol>
    </nav>

    <div class="row row-cols-1 row-cols-md-3  align-content-center">
        <div class="col mb-4">
            <div class="card h-100">
                <a class="mt-4">
                    <img src="./assets/Config/agenda.png" [routerLink]="['/listarAgenda']" class="card-img-top img-fluid mx-auto d-block " style="height: 200px; width: auto;">
                </a>
                <div class="card-body">
                    <h2 class="text-center" style="color: #ff0080;">Agenda</h2>

                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <a class="mt-4">
                    <img src="./assets/Config/cuaderno.png" [routerLink]="['/listarCuaderno']" class="card-img-top img-fluid mx-auto d-block " alt="100" style="height: 200px; width: auto;">
                </a>
                <div class="card-body">
                    <h2 class="text-center" style="color: #ff0080;">Cuaderno</h2>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">

                <a class="mt-4">
                    <img src="./assets/Config/flashcard.png" [routerLink]="['/listarFlashcard']" class="card-img-top img-fluid mx-auto d-block " alt="100" style="height: 200px; width: auto;">
                </a>

                <div class="card-body">
                    <h2 class="text-center" style="color: #ff0080;">Flashcard</h2>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <a class="mt-4">
                    <img src="./assets/Config/Lapiz.png" [routerLink]="['/listarLapices']" class="card-img-top img-fluid mx-auto d-block " alt="100" style="height: 200px; width: auto;">
                </a>
                <div class="card-body">
                    <h2 class="text-center" style="color: #ff0080;">Lápiz</h2>

                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <a class="mt-4">
                    <img src="./assets/Config/Planificador.png" [routerLink]="['/listarPlanificador']" class="card-img-top img-fluid mx-auto d-block " alt="100" style="height: 200px; width: auto;">
                </a>
                <div class="card-body">
                    <h2 class="text-center" style="color: #ff0080;">Planificador</h2>
                </div>
            </div>


        </div>




    </div>
