<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="color: #ff0080;" [routerLink]="['home']">Inicio</a></li>
            <li class="breadcrumb-item active">Crear Producto</li>
        </ol>
    </nav>
    <div class="card">
        <br>
        <h1 class="text-center" style="color: #ff0080;">Crear un Producto</h1>
        <hr>
        <br>
        <div class="card-body">
            <form class="form-signin" #l="ngForm">
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Nombre:</label>
                    <div class="col-sm-9">
                        <input required type="text" [(ngModel)]="producto.nombre" #nombre="ngModel" name="nombre" id="nombre" class="form-control" placeholder="Ingrese El Nombre Del Producto" tabindex="1">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Precio</label>
                    <div class="col-sm-9">
                        <input required type="number" [(ngModel)]="producto.precio" #precio="ngModel" name="precio" class="form-control" placeholder="Ingrese El Precio Del Producto">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Stock</label>
                    <div class="col-sm-9">
                        <input required type="number" [(ngModel)]="producto.stock" #stock="ngModel" name="stock" class="form-control" placeholder="Ingrese La Cantidad Total Del Producto">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Imagen</label>
                    <div class="col-sm-9">
                        <input required type="file" #fileupload (change)="fileChange(fileupload.files)" name="imagen" class="form-control-file" placeholder="Ingrese La Imagen Del Producto">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Ingrese La Categoria</label>
                    <div class="col-sm-9">
                        <select required [(ngModel)]="producto.Categoria_id" #Categoria_id="ngModel" name="Categoria_id" class="form-control">
                          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Ingrese La Marca</label>
                    <div class="col-sm-9">
                        <select required [(ngModel)]="producto.Marca_id" #Marca_id="ngModel" name="Marca_id" class="form-control">
                          <option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.nombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Ingrese el Tipo de Producto</label>
                    <div class="col-sm-9">
                        <select required [(ngModel)]="producto.TipoProducto_id" #TipoProducto_id="ngModel" name="TipoProducto_id" class="form-control">
                          <option *ngFor="let tipo of tipoProducto" [value]="tipo.id">{{ tipo.nombre }}</option>
                        </select>
                    </div>
                </div>
                <ng-container *ngIf="producto.TipoProducto_id == LAPIZ">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Tipo de Punta del Lápiz</label>
                        <div class="col-sm-9">
                            <select class="form-control" [(ngModel)]="producto.lapiz.TipoPunta_id" #TipoPunta_id="ngModel" name="TipoPuntaId_id" id="TipoPuntaID">
                        <option *ngFor="let punta of tipoPunta" [value]="punta.id">{{ punta.nombre + ' ('+punta.descripcion+')'}}</option>
                      </select>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Color del Lápiz</label>
                        <div class="col-sm-9">
                            <input type="text" [(ngModel)]="producto.lapiz.color_name" #color_name="ngModel" name="color_name" class="form-control" placeholder="Ingrese el nombre del color">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Color RGB del Lápiz</label>
                        <div class="col-sm-9">
                            <input type="color" [(ngModel)]="producto.lapiz.color_rgb" #color_rgb="ngModel" name="color_rgb" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Descripción del Lápiz</label>
                        <div class="col-sm-9">
                            <input type="text" [(ngModel)]="producto.lapiz.descripcion" #descripcion="ngModel" name="descripcion" class="form-control" placeholder="Ingrese la descripción del Lápiz">
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="producto.TipoProducto_id == FLASHCARD">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Unidad de medida de la FlashCard</label>
                        <div class="col-sm-9">
                            <select required [(ngModel)]="producto.flashcard.unidad_medida" #unidad_medida="ngModel" name="unidad_medida" class="form-control">
                        <option value="cm">Centímetros (cm)</option>
                        <option value="mm">Milímetros (mm)</option>
                      </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Alto de la FlashCard</label>
                        <div class="col-sm-9">
                            <input type="number" [(ngModel)]="producto.flashcard.alto" #alto="ngModel" name="alto" class="form-control" placeholder="Ingrese el alto de las FlashCard">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Ancho de la FlashCard</label>
                        <div class="col-sm-9">
                            <input type="number" [(ngModel)]="producto.flashcard.ancho" #ancho="ngModel" name="ancho" class="form-control" placeholder="Ingrese el ancho de las FlashCard">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Cantidad de Hojas de la FlashCard</label>
                        <div class="col-sm-9">
                            <input type="number" [(ngModel)]="producto.flashcard.cantidad_hojas" #cantidad_hojas="ngModel" name="cantidad_hojas" class="form-control" placeholder="Ingrese la cantidad de hojas de las FlashCard">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Descripción de la FlashCard</label>
                        <div class="col-sm-9">
                            <input type="text" [(ngModel)]="producto.flashcard.descripcion" #descripcion="ngModel" name="descripcion" class="form-control" placeholder="Ingrese la descripción de las FlashCard">
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="producto.TipoProducto_id == PLANIFICADOR">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Cantidad de Hojas del Planificador</label>
                        <div class="col-sm-9">
                            <input type="number" [(ngModel)]="producto.planificador.cantidad_hojas" #cantidad_hojas="ngModel" name="cantidad_hojas" class="form-control" placeholder="Ingrese la Cantidad de Hojas del Planificador">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Tamaño de Hoja del Planificador</label>
                        <div class="col-sm-9">
                            <select required [(ngModel)]="producto.planificador.TamanioHoja_id" #TamanioHoja_id="ngModel" name="TamanioHoja_id" class="form-control">
                          <option *ngFor="let tam of tamanioHoja" [value]="tam.id">{{ tam.nombre + ' (' + tam.ancho + ' x ' + tam.largo +' ' + tam.unidad_medida + ')' }}</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Tipo de Hoja del Planificador</label>
                        <div class="col-sm-9">
                            <select required [(ngModel)]="producto.planificador.TipoHoja_id" #TipoHoja_id="ngModel" name="TipoHoja_id" class="form-control">
                          <option *ngFor="let tip of tipoHoja" [value]="tip.id">{{ tip.nombre + ' (Gramaje: ' + tip.gramaje + ' g.)' }}</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Tipo de Tapa del Planificador</label>
                        <div class="col-sm-9">
                            <select required [(ngModel)]="producto.planificador.TipoTapa_id" #TipoTapa_id="ngModel" name="TipoTapa_id" class="form-control">
                          <option *ngFor="let tip of tipoTapa" [value]="tip.id">{{ tip.nombre }}</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Color Espiral del Planificador</label>
                        <div class="col-sm-7">
                            <select required (change)="cambioColor($event)" [(ngModel)]="producto.planificador.ColorEspiral_id" #ColorEspiral_id="ngModel" name="ColorEspiral_id" class="form-control">
                          <option *ngFor="let col of colorEspiral" [value]="col.id">{{ col.color + ' (Tipo de Espiral: ' + col.tipoespiral.nombre + ')' }}</option>
                        </select>
                        </div>
                        <div class="col-sm-2">
                            <span class="badge badge-secondary" style="-webkit-text-stroke: 0.8px black; border:0.8px black solid;" [ngStyle]="{'background-color':'#'+colorElegido}">Color Elegido</span>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="producto.TipoProducto_id == AGENDA">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Cantidad de Hojas del Agenda</label>
                        <div class="col-sm-9">
                            <input type="number" [(ngModel)]="producto.agenda.cantidad_hojas" #cantidad_hojas="ngModel" name="cantidad_hojas" class="form-control" placeholder="Ingrese la Cantidad de Hojas del Agenda">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Tamaño de Hoja del Agenda</label>
                        <div class="col-sm-9">
                            <select required [(ngModel)]="producto.agenda.TamanioHoja_id" #TamanioHoja_id="ngModel" name="TamanioHoja_id" class="form-control">
                      <option *ngFor="let tam of tamanioHoja" [value]="tam.id">{{ tam.nombre + ' (' + tam.ancho + ' x ' + tam.largo +' ' + tam.unidad_medida + ')' }}</option>
                    </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Tipo de Hoja del Agenda</label>
                        <div class="col-sm-9">
                            <select required [(ngModel)]="producto.agenda.TipoHoja_id" #TipoHoja_id="ngModel" name="TipoHoja_id" class="form-control">
                      <option *ngFor="let tip of tipoHoja" [value]="tip.id">{{ tip.nombre + ' (Gramaje: ' + tip.gramaje + ' g.)' }}</option>
                    </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Tipo de Tapa del Agenda</label>
                        <div class="col-sm-9">
                            <select required [(ngModel)]="producto.agenda.TipoTapa_id" #TipoTapa_id="ngModel" name="TipoTapa_id" class="form-control">
                      <option *ngFor="let tip of tipoTapa" [value]="tip.id">{{ tip.nombre }}</option>
                    </select>
                        </div>
                    </div>
                </ng-container>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="guardar(l)">Guardar</button>
            <button class="btn btn-secondary" style="margin-left: 20px;" (click)="borrar(l)">Limpiar Formulario</button>
        </div>
    </div>
</div>
