<div class="container mt-5">

    <hr color="#ff0080;">
    <h1 style="color: #ff0080;">Mis Pedidos</h1>
    <hr color="#ff0080">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">

                    <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="" aria-label="...">
                    </div>

                </th>

                <th scope="col">Nombre</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Estado</th>
                <th scope="col">Precio Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detalle of detallePedidos let i =index">
                <td>
                    <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" [value]="detalle.id" (change)="getPagar($event,detalle.id)" aria-label="...">
                    </div>
                </td>
                <td>{{productoOfDetalle[i].nombre}}</td>
                <td>${{productoOfDetalle[i].precio}}</td>
                <td>{{detalle.cantidad}}</td>
                <td>{{pedidoOfDetalle[i].estado_pedido.nombre}}</td>
                <td>${{detalle.precio}}</td>
                <td><button type="button" (click)="pagarPedido()" class="btn btn-success"><i class="fas fa-money-check-alt"></i></button>
                </td>
            </tr>
        </tbody>

    </table>

    <hr color="#ff0080">
    <label>Total Pedido: </label>
    <label>$ {{total}}</label>
    <button type="button" style="float: right" type="submit" (click)="pagarPedido()" class="btn btn-success">Comprar Seleccionados</button>



</div>