<div class="container mt-5 text-center">

    <div class="card">
        <div class="card-body">

            <h1>Crear Planificador</h1>

            <form class="form-signin " (ngSubmit)="guardar(l)" #l="ngForm">

                <div class="form-group">
                    <label for="">Cantidad de Hojas:</label>
                    <input type="number" class="form-control" [(ngModel)]="planificador.cantidad_hojas" #cantidad_hojas="ngModel" name="cantidad_hojas" id="cantidad_hojas">
                </div>


                <div class="form-group">
                    <label for="">Tipo de Producto:</label>
                    <select class="form-control" [(ngModel)]="planificador.Producto_id" #Producto_id="ngModel" name="Producto_id" id="ProductoID">
                    <option *ngFor="let p of productos" [value]="p.id">{{ p.nombre }}</option>

                  </select>

                </div>

                <div class="form-group">
                    <label for="">Tipo de Hoja:</label>
                    <select class="form-control" [(ngModel)]="planificador.TipoHoja_id" #TipoHoja_id="ngModel" name="TipoHoja_id" id="TipoHojaID">
                  <option *ngFor="let th of tipoHojas" [value]="th.id">{{ th.nombre }}</option>

                </select>

                </div>

                <div class="form-group">
                    <label for="">Tamaño de Hojas:</label>
                    <select class="form-control" [(ngModel)]="planificador.TamanioHoja_id" #TamanioHoja_id="ngModel" name="TamanioHoja_id" id="TamanioHojaID">
                <option *ngFor="let s of tamanioHojas" [value]="s.id">{{ s.nombre }}</option>

              </select>

                </div>

                <div class="form-group">
                    <label for="">Tipo de Tapa:</label>
                    <select class="form-control" [(ngModel)]="planificador.TipoTapa_id" #TipoTapa_id="ngModel" name="TipoTapa_id" id="TipoTapaID">
              <option *ngFor="let tp of tipoTapas" [value]="tp.id">{{ tp.nombre }}</option>

            </select>

                </div>


                <div class="form-group">
                    <label for="">Color Espiral:</label>
                    <select class="form-control" [(ngModel)]="planificador.ColorEspiral_id" #ColorEspiral_id="ngModel" name="ColorEspiral_id" id="ColorEspiralID">
            <option *ngFor="let ce of coloresEspirales" [value]="ce.id" type="color">{{ ce.color }}</option>

          </select>

                </div>

                <div>
                    <button class="btn btn-primary" type="submit"> Guardar</button>
                </div>
            </form>



        </div>
    </div>


</div>
