<div class="container mt-5 ">
    <div class="card" style="border-color: #ff0080;">
        <div class="card-body">
          <div class="container" style="text-align: center;">
            <h3 style="color: #ff0080;">Registrar ChiniCliente</h3>

            <form class="form-group" [formGroup]="userForm" (ngSubmit)="onSubmit()">
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="nombre">Nombre</label>
                  <input type="text" placeholder="Pedro" class="form-control" formControlName="nombre" id="nombre" [ngClass]="{ 'is-invalid': submitted && nombre.errors, 'is-valid': nombre.valid }">
                  <div *ngIf="submitted && nombre.errors" class="invalid-feedback">
                    <div *ngIf="nombre.errors.required">El <b>Nombre</b> es requerido.</div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="apellido">Apellido</label>
                  <input type="text" placeholder="Perez" class="form-control" formControlName="apellido" id="apellido" [ngClass]="{ 'is-invalid': submitted && apellido.errors, 'is-valid': apellido.valid }">
                  <div *ngIf="submitted && apellido.errors" class="invalid-feedback">
                    <div *ngIf="apellido.errors.required">El <b>Apellido</b> es requerido.</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="rut">RUT</label>
                  <input type="number" placeholder="11222333" class="form-control" formControlName="rut" id="rut" [ngClass]="{ 'is-invalid': submitted && rut.errors, 'is-valid': rut.valid }">
                  <div *ngIf="submitted && rut.errors" class="invalid-feedback">
                    <div *ngIf="rut.errors.required">El <b>RUT</b> es requerido.</div>
                    <div *ngIf="rut.errors.min">El <b>RUT</b> tiene menos de 7 dígitos.</div>
                    <div *ngIf="rut.errors.max">El <b>RUT</b> tiene menos de 8 dígitos.</div>
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label for="codigo_verificacion">Digito Verificador</label>
                  <input type="text" placeholder="K" class="form-control" formControlName="codigo_verificacion" id="codigo_verificacion" [ngClass]="{ 'is-invalid': submitted && codigo_verificacion.errors, 'is-valid': codigo_verificacion.valid }">
                  <div *ngIf="submitted && codigo_verificacion.errors" class="invalid-feedback">
                    <div *ngIf="codigo_verificacion.errors.required">El <b>Dígito Verificador</b> es requerido.</div>
                    <div *ngIf="codigo_verificacion.errors.minlength || codigo_verificacion.errors.maxlength">El <b>Dígito Verificador</b> debe ser sólo un carácter (0-9 o K).</div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="numero">Número de Teléfono</label>
                  <input type="number" placeholder="922224444" class="form-control" formControlName="numero" id="numero" [ngClass]="{ 'is-invalid': submitted && numero.errors, 'is-valid': numero.valid }">
                  <div *ngIf="submitted && numero.errors" class="invalid-feedback">
                    <div *ngIf="numero.errors.required">El <b>Número de Teléfono</b> es requerido.</div>
                    <div *ngIf="numero.errors.min">La cantidad de dígitos del <b>Número de Teléfono</b> es incorrecto o no empieza con <b>9XXXXXXXX</b>.</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="email">Correo Electrónico</label>
                  <input type="email" placeholder="email@chini.cl" class="form-control" formControlName="email" id="email" [ngClass]="{ 'is-invalid': submitted && email.errors, 'is-valid': email.valid }">
                  <div *ngIf="submitted && email.errors" class="invalid-feedback">
                    <div *ngIf="email.errors.required">El <b>Correo Electrónico</b> es requerido.</div>
                    <div *ngIf="email.errors.email">El formato del <b>Correo Electrónico</b> es incorrecto.</div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="password">Contraseña</label>
                  <input type="password" placeholder="1234Chini" class="form-control" formControlName="password" id="password" [ngClass]="{ 'is-invalid': submitted && password.errors, 'is-valid': password.valid }">
                  <div *ngIf="submitted && password.errors" class="invalid-feedback">
                    <div *ngIf="password.errors.required">La <b>Contraseña</b> es requerida.</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="calle">Dirección</label>
                  <input type="text" placeholder="Andres Bello #720" class="form-control" formControlName="calle" id="calle" [ngClass]="{ 'is-invalid': submitted && calle.errors, 'is-valid': calle.valid }">
                  <div *ngIf="submitted && calle.errors" class="invalid-feedback">
                    <div *ngIf="calle.errors.required">La <b>Dirección</b> es requerida.</div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="ciudad">Ciudad</label>
                  <input type="text" placeholder="Chillán" class="form-control" formControlName="ciudad" id="ciudad" [ngClass]="{ 'is-invalid': submitted && ciudad.errors, 'is-valid': ciudad.valid }">
                  <div *ngIf="submitted && ciudad.errors" class="invalid-feedback">
                    <div *ngIf="ciudad.errors.required">La <b>Ciudad</b> es requerida.</div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-primary mr-1" style="background-color: #ff0080; border-color: #c5126c;">Registrar Usuario</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Limpiar Fomulario</button>
              </div>
            </form>
          </div>

        </div>
    </div>

</div>
