<div class="container mt-5">

    <hr color="#ff0080;">
    <h1 style="color: #ff0080;">Planificadores</h1>
    <hr color="#ff0080">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="color: #ff0080;" [routerLink]="['home']">Inicio</a></li>
            <li class="breadcrumb-item"><a style="color: #ff0080;" [routerLink]="['/configuracion']">Configuración</a></li>
            <li class="breadcrumb-item active">Cuaderno</li>
        </ol>
    </nav>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo Hoja</th>
                <th scope="col">Tamaño Hoja</th>
                <th scope="col">Tipo Tapa</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let planificador of p; let i=index">
                <td>
                    <img class="card-img-top img-fluid mx-auto d-block" src="{{ 'http://127.0.0.1:8000/'+ planificador.producto.img }}" style="height: 200px; width: auto;">

                </td>
                <td>{{planificador.producto.nombre}}</td>
                <td>{{planificador.tipohoja.nombre}}</td>
                <td>{{planificador.tamaniohoja.nombre}}</td>
                <td>{{planificador.tipotapa.nombre}}</td>
                <td>${{planificador.producto.precio}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="eliminar(i)"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>

    </table>

    <hr color="#ff0080">




</div>