<hr color="#ff0080">
<div class="container">
    <h1 style="color: #ff0080;">Flash Cards</h1>
    <hr color="#ff0080">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="color: #ff0080;" [routerLink]="['home']">Inicio</a></li>
            <li class="breadcrumb-item active" [routerLink]="['flashcards']">FlashCards</li>
        </ol>
    </nav>
    <div class="container col-lg-12">
        <div class="card-columns">
            <div class="card" *ngFor="let flashCard of flashCards; let i = index">
                <img class="card-img-top img-fluid mx-auto d-block" src="{{ 'http://127.0.0.1:8000/'+flashCard.producto.img }}" style="height: 200px; width: auto;">
                <div class=" card-body ">
                    <h5 class="card-title ">{{flashCard.producto.nombre}}</h5>
                </div>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item "><b>Largo:  </b>{{flashCard.largo}} {{flashCard.unidad_medida}}</li>
                    <li class="list-group-item "><b>Ancho: </b>{{flashCard.ancho}} {{flashCard.unidad_medida}}</li>
                    <li class="list-group-item "><b>Cantidad Hojas: </b>{{flashCard.cantidad_hojas}}</li>
                    <li class="list-group-item "><b>Precio: </b>${{flashCard.producto.precio}}</li>
                </ul>
                <div class="card-body ">

                    <button class="btn btn-outline-primary btn-block " type="button " (click)="DisenarFlashCard(i) "> Diseñar</button>
                </div>
            </div>
        </div>
    </div>
</div>